:root{
    --red: #FF0000;
    --green: #008000;
    --yellow: #FFFF00;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Generics */
body{
  font-family: 'Rubik Mono One', sans-serif;
}

h2{
  color: var(--yellow);
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  word-spacing: 28px;
}

/* Utils */
.container {
    max-width: 1200px;
    margin: 0 auto;
  }

.bg{
  height: 100vh;
  position: relative;
}

.bg.bg-red{
  background-color: var(--red);
}

.img-descr{
  width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
